<!--base.html 상속-->
{% extends 'blog/base.html' %}

{% block head_title %} {{ post.title }} | Blog {% endblock %}

{% block main_area %}
<div id="post-area">
    <!-- Title -->
    {% if post.category %}
    <span class="badge text-bg-secondary float-end">{{post.category}}</span>
    {% else %}
    <span class="badge text-bg-secondary float-end">미분류</span>
    {% endif %}
    <h1 class="mt-4">{{ post.title}}</h1>
    {% if post.hook_text %}
    <h5 class="text-muted">{{post.hook_text}}</h5>
    {% endif %}
    <!-- Author -->
    <p class="lead">
        by
        <!--                작성자명 작성 예정-->
        <a href="#">{{post.author | upper}}</a>

    </p>
    <!-- HTML template (예: home.html) -->
    <!-- HTML template (예: home.html) -->
    <div class="tradingview-widget-container">
        <div id="tradingview_rsi"></div>
        <div class="tradingview-widget-copyright">
            <a href="https://kr.tradingview.com/symbols/BTCUSD/" rel="noopener" target="_blank"><span class="blue-text">BTCUSD 차트</span></a>
            by TradingView
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
            new TradingView.widget({
              "container_id": "tradingview_rsi",
              "width": "100%",
              "height": 500,
              "symbol": "BINANCE:BTCUSDT",  // 원하는 종목으로 변경 가능
              "interval": "60",             // 60분봉
              "timezone": "Etc/UTC",
              "theme": "light",
              "style": "1",
              "locale": "kr",
              "toolbar_bg": "#f1f3f6",
              "enable_publishing": false,
              "hide_legend": false,
              "save_image": false,
              "studies": [
                "RSI@tv-basicstudies"        // ✅ RSI 추가
              ]
            });
        </script>
    </div>


    <hr>

    <!-- Date/Time -->
    <p>{{post.created_at}}</p>

    <hr>

    <!-- Preview Image -->
    {% if post.head_image %}
    <img class="img-fluid rounded" src="{{post.head_image.url}}" alt="{{post.title}}">
    {% else %}
    <h4>이미지가 없어유</h4>
    {% endif %}
    <hr>
    <h3>파일 다운로드</h3>
    {% if post.file_upload %}


    <a href="{{ post.file_upload.url }}" type="button" class="btn btn-outline-dark" download>

        <!--                원래 파이썬에서는 함수다음()써야함 리터럴에서는 생략-->
        📎 첨부파일:
        {% if post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        {% endif %}
        {{post.get_file_name}} 다운로드
    </a>
    {% else %}
    <p>첨부파일 없소이다.</p>
    {% endif %}


    <hr>
    <!-- Post Content -->
    <p class="lead">{{post.content}}</p>

    <hr>
</div>

<div id="comment-area">
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
            vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <!-- Comment with nested comments -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
            vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                    ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc
                    ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}